.btnClass{
    outline: none;
    border: 1px solid var(--primary-color);
    background: none;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 2px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--font-nunito) !important;
    cursor: pointer;
}

.btnClass:hover{
    transition: .5s;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}